.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #0d1b2a;
    color: white;
}

.logo-img {
    height: 70px;
    width: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;

    li a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        transition: color 0.3s;

        &:hover {
            color: #00bcd4;
        }
    }
}